@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  // light
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  // dark
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue: hsl(236, 33%, 92%); //(hover)
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

:root {
  --main-background: #171823;
  --secondary-background: #25273d;
  --border: #393a4b;
  --main-text: #c8cbe7;
  --secondary-text: #5b5e7e;
  --main-hover: #e3e4f1;
  --secondary-hover: #e3e4f1;
  --line-through: #4d5067;
  --background-img: url("./images/bg-desktop-dark.jpg");
}

.lightmode {
  --main-background: #fff;
  --secondary-background: #fff;
  --border: #e3e4f1;
  --main-text: #494c6b;
  --secondary-text: #9495a5;
  --main-hover: #494c6b;
  --secondary-hover: #494c6b;
  --line-through: #d1d2da;
  --background-img: url("./images/bg-desktop-light.jpg");
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}

header {
  height: 37.5%;
  padding: 8rem 0;
  background: var(--background-img) center no-repeat;
  background-size: cover;
  & .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
      font-size: 4rem;
      letter-spacing: 15px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  & input {
    width: 100%;
    padding: 2rem;
    margin-top: 4rem;
    background: var(--secondary-background);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: none;
    color: #fff;
  }
}

.toggle-mode {
  cursor: pointer;
}

main {
  background: var(--main-background);
  height: 62.5%;
  position: relative;
}

.todos {
  position: absolute;
  top: -7rem;
  left: 0;
  width: 100%;

  & .container {
    background: var(--secondary-background);
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.todo {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-bottom: 1px solid var(--border);
  cursor: move;

  & .check {
    border-radius: 50%;
    border: 1px solid var(--border);
    padding: 1.1rem;
    cursor: pointer;

    &:hover {
      border-color: #55ddff;
    }
  }

  & .cross {
    margin-left: auto;
    cursor: pointer;
    display: none;
  }

  & span {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--main-text);
    margin-left: 2rem;
  }
}

.todo .checked {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.todo:hover .cross {
  display: block;
}

.checked span {
  text-decoration: line-through;
  color: var(--line-through);
}

.filters {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--secondary-text);
  font-weight: 700;

  & ul {
    display: flex;

    & li {
      cursor: pointer;
      &:hover {
        color: var(--main-hover);
      }
    }

    & li:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  & span {
    cursor: pointer;

    &:hover {
      color: var(--secondary-hover);
    }
  }
}

.active {
  color: #3a7cfd;
}

.filters-mobile {
  display: none;
}

@media screen and(max-width: 500px) {
  .filters ul {
    display: none;
  }

  .filters-mobile {
    display: flex;
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 2rem;
    background: #25273d;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2rem;

    font-size: 1.4rem;
    color: #5b5e7e;

    & ul {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      gap: 2rem;

      & li {
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.dragging {
  opacity: 0.5;
  background: rgb(49, 48, 48);
}
